@import url('http://fonts.cdnfonts.com/css/general-sans');
@import url('http://fonts.cdnfonts.com/css/clash-display');
/* ---------- root variables ---------- */
html {
    scroll-behavior: smooth;
}




body {
    background-color: #fafafa; 
    height: 100vh;  
}

main {
    
    background-color: #fafafa;
 
}




.page p {
    font-family: 'General Sans', sans-serif;
}


/* ---------- nav styling ---------- */
nav {
    font-family: 'General Sans', sans-serif;
    position: fixed;
    top: 0;
    left: 5%;
    right: 5%;
    text-align: right;
    display: flex;
   justify-content: space-between;
height: 70px;
   background-color: #fafafa;
   z-index: 1;
   align-items: center;
}

.nav-links {
    float: right;
}

/* Style the links inside the navigation bar */
.nav-links a {
    display: inline-block;
    color: black;
    text-align: center;
margin-right: 60px;


    padding-bottom: 3px;
   text-decoration: none;
    
    opacity: 50%;
}

.nav-links a:nth-of-type(4){
    margin-right: 0px;
}

/* Change the color of links on hover */
.nav-links a:hover {
   color: #2E2E2E;
   opacity: 100%;
   border-bottom: #2E2E2E solid 2px ;
   cursor: pointer;
}

/* Add a color to the active/current link */
.nav-links a.active {
    opacity: 100%;
    color: #2E2E2E;
    border-bottom: #2E2E2E solid 2px ;
  
}

nav img {
    color: black;
    opacity: 50%;
    width: 70px;
  
    cursor: pointer;
    z-index: 1000;
}

nav img:hover {
    color: #2E2E2E;
    opacity: 100%;
    width: 70px;

    z-index: 1000;
    cursor: pointer;
}

/* ---------- grid container styling ---------- */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  
   
  }
  
  @media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  .grid-container > article {
  
    transition: 0.5s;
    animation: fadeIn 0.5s;
    cursor: pointer;
  }
  .grid-container > article {
    color: #fafafa;
    background-color: #2E2E2E;
    transition: 0.5s;
    animation: fadeIn 0.5s;
    cursor: pointer;
  }
  .grid-container > article:hover {
    color: #2E2E2E;
    background-color: #fafafa;
    transition: 0.5s;
    animation: fadeIn 0.5s;
    cursor: pointer;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  }
  

 
 
  
  .grid-container > article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
 .post-title{
align-items: center;
   display: flex;
   justify-content: center;
   height: 80px;
  
 }

  
  .post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s;
    overflow: hidden;
  }
  
  .post-image:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  @media (min-width: 990px) {
    .post-image img {
        height: 450px;
    }
  }
  
  .post-image  {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .post-title h2 {
    font-weight: 400 ;
    font-family: 'Clash Display', sans-serif;
  }


/* ---------- form styling ---------- */

form {

    max-width: 380px;

}

form button {
    padding: 12px 15px;
  
    width: 100%;
    max-width: 350px;
}



.front-page {
    height:100vh ;
    
}

.career {
    display: flex;
    justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.career p {
    font-size: 25px;
}

.App {

flex-direction: row;
font-size: 100px;
font-weight: 500 ;
    font-family: 'Clash Display', sans-serif;
    display: flex;
    justify-content: space-around;
}

.small-headline {
    align-items: center;
    justify-content: center;
    display: flex;
   
}

.small-headline p{
    font-family: 'Clash Display', sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 500;
}

.end-text {
display: flex;
justify-content: center;
margin-top: 50px;
}
.end-text p{
font-size: 40px;
text-align: center;
font-family: 'Clash Display', sans-serif;

}

.end-text a{
    color: black;
   text-decoration: none;
    
    opacity: 50%;
}
.end-text a:hover {
        color: #2E2E2E;
        opacity: 100%;
        border-bottom: #2E2E2E solid 2px ;
        cursor: pointer;
    }



.project-text-vw {
    margin-top: 150px;
display: flex;
flex-direction: column;

}
.project-title h1 {
   font-size: 80px;
   font-family: 'Clash Display', sans-serif;
   font-weight: 500;
   margin-top: 0px;
   line-height: 80px;
}

.year p {
    font-family: 'Clash Display', sans-serif;
    font-size: 20px;
}


 .button-black {
  margin-top: -20px;
  width: 120px;
  height: 50px;
  border-radius: 30px;
  background-color: #2E2E2E;
  color: #fafafa;
  border:#2E2E2E;
font-size: 18px;
font-weight: 500;

}
 
.button-black:hover {
cursor: pointer;
  background-color: transparent;
  border:#2E2E2E 3px solid;
  color: #2E2E2E;
}

.front {
    display: flex;
    flex-direction: row;
}

.mockup img{
    width: 900px;
    margin-top: 150px;

}

.page {
    margin-left: 5%;
    margin-right: 5%;

}





.problem-statement{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 250px;
    width: 100%;
    background-color: #E6E6E6;
}

.problem-statement th {
    font-family: 'General Sans', sans-serif;
    font-size: 25px;
    font-weight:600;
    color: #748B75;
 
}

.problem-statement tr {
    font-family: 'General Sans', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    
    font-weight: 400;
}



.about-container {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
}

.image-now img {
    width: 50px;
}

.about-container h1{
    font-family: 'Clash Display', sans-serif;

    font-weight: 600;
    font-size: 80px;
}

.arrow {
    display: flex;
    justify-content: center;
   margin-top: -120px;
   flex-direction: column;
   align-items: center;
}

.arrow img {
    width: 30px;
}

.arrow p {
    font-size: 18px;
}

.logo img {
    margin-top: 0px;
}

.all-projects {
    margin-top: 50px;
    }

.all-projects h1{
    font-family: 'Clash Display', sans-serif;
    font-weight: 600;
    font-size: 80px;
  
}
.all-projects p{
    font-family: 'General Sans', sans-serif;
    font-size: 25px;
    margin-top: -60px;
    margin-bottom: 50px;
    font-weight: 400;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#first-card:hover {
cursor: pointer;
    background-color:  #FFDD7E;
}

#second-card:hover {
    background-color:  #90A7FF;
}

#third-card:hover {
    background-color:  #52BAAA;
}


@media (max-width: 600px) {
    #first-card {
       
            background-color:  #FFDD7E;
        }
        #second-card {
            background-color:  #90A7FF;
        }
        #third-card{
            background-color:  #52BAAA;
        }
        
  }

.play-container {
    margin-top: 100px;
    height: 100vh;
}
.play-text {
    display: flex;
flex-direction: column;

}
.play-text h1{
    font-family: 'Clash Display', sans-serif;
    font-size: 80px;
    font-weight: 600;
}
.play-text p{
    font-family: 'General Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: -60px;
}

.about-text p {
    font-family: 'General Sans', sans-serif;
    font-size: 18px;
    margin-top: -60px;
}



#image  {

      width: 400px;
    height: 500px;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
}

#image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-container {
  display: flex;
flex-direction: column;


}

.image-container button {
  
   background-color: transparent;
color: #2E2E2E;
opacity: 50%;
height: 50px;
font-family: 'General Sans', sans-serif;
height: 50px;
  border:none;

    font-size: 15px;
    margin-top: 10px;
    align-self: center;
    font-weight: 500;
}
.image-container button:hover {
   background-color: transparent;
color: #2E2E2E;
opacity: 100%;
cursor: pointer;
}



  .about-text {
    width: 60%;
 }

 @media (max-width: 600px) {
    .about-container {
        flex-direction: column;
    }
    .about-text {
        width: 100%;
     margin-bottom: 50px;
      }
  }